/*
Theme Name: 	Betheme Child
Theme URI: 		http://themes.muffingroup.com/betheme
Author: 		Muffin group
Author URI: 	http://muffingroup.com
Description:	Child Theme for Betheme - Premium WordPress Theme
Template:		betheme
Version: 		1.6.1.1
*/

/* Theme customization starts here
-------------------------------------------------------------- */
/* @font-face { 
font-family: Manrope; 
src: url(/wp-content/themes/betheme-child/wp-content/themes/betheme/fonts/Manrope-Regular.ttf); 
font-weight: normal; 
} */